:root {
    --tile-color-0: #c84c49;
    --tile-color-1: #d88741;
    --tile-color-2: #947a3b;
    --tile-color-3: #afb240;
    --tile-color-4: #558749;
    --tile-color-5: #5eba59;
    --tile-color-6: #49bab2;
    --tile-color-7: #6684cc;
    --tile-color-8: #a361c7;
    --tile-color-9: #c76090;

    --timer-color: rgb(80, 186, 34);

    --button-border-color: rgb(53, 53, 53);
    --button-background-color: rgb(116, 116, 190);
}
