.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    gap: 2em;
}


.instruction-text, .score-text, .button {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight-normal);
}

.instruction-text {
    font-size: var(--text-size-lg);
    color: var(--text-color);
}

.score-text {
    font-size: var(--text-size-lg);
    color: var(--text-color);
}

.button {
    font-size: var(--text-size-md);

    padding: 1em;
    border-style: solid;
    border-color: var(--button-border-color);
    border-width: 2px;
    border-radius: 0.5em;
    background-color: var(--button-background-color);
    color: var(--button-text-color);

    &:hover {
        background-color: var(--button-background-hover-color);
        cursor: pointer;
    }
}

body {
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    background-color: var(--content-background-color);
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#time {
    display: flex;
    flex-direction: column-reverse;
 
    .timer-bar {
        width: 2em;
        background-color: var(--timer-color);
    }
}

.renderer-threejs {
    .content {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        gap: 2em;
    }

    #time {
        height: calc(100vh - 4em);
    }
}

.renderer-canvas2d {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        padding: 2em;
        border-radius: 1em;
        /*width: 600px;
        height: 500px;*/
        align-items: center;
        align-content: center;
        justify-content: stretch;
    }

    #time {
        height: 100%;
    }
}

#myCanvas {
    aspect-ratio: 1 / 1;
    max-width: calc(100vh - 4em);
    max-height: calc(100vh - 4em);
    width: auto;
    height: auto;
    touch-action: none; /* Disable default touch behaviors for gesture control */
}

.score-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    z-index: 10;
    pointer-events: none;
}

.score-container > * {
    pointer-events: auto;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    padding-bottom: 2em;
    pointer-events: none;
    z-index: 10;
}

.overlay-container > * {
    pointer-events: auto;
}

.settings-container {
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 10;
}

.settings-button {
    font-size: var(--text-size-lg);
    padding: 0.5em 0.75em;
    cursor: pointer;
}

.settings-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5em;
    padding: 1em;
    background-color: var(--button-background-color);
    border: 2px solid var(--button-border-color);
    border-radius: 0.5em;
    min-width: 200px;
    flex-direction: column;
    gap: 0.5em;
}

.settings-menu.open {
    display: flex;
}

.settings-title {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight-normal);
    font-size: var(--text-size-md);
    color: var(--text-color);
    margin: 0 0 0.5em 0;
}

.settings-option {
    width: 100%;
    text-align: center;
}

.settings-option.active {
    background-color: var(--button-background-hover-color);
    border-color: var(--text-color);
}