.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.timer-bar {
    width: 2em;
    background-color: var(--timer-color);
}

.button {

    margin: 0.5em;
    border-color: var(--button-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    background-color: var(--button-border-color);
}